$mobile-width: 580px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

$themes: light dark;

@mixin bgImage {
  @each $theme in $themes {
    .#{$theme} & {
      background: url("../assets/images/bg-desktop-" + $theme + ".jpg");
      background-repeat: no-repeat;
      background-size: 100% 35vh;

      @include mobile {
        background: url("../assets/images/bg-mobile-" + $theme + ".jpg");
        background-repeat: no-repeat;
        background-size: 100% 35vh;
      }
    }
  }
}
