$mobile-width: 580px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin bgImage {
  background-image: url("../assets/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 35vh;

  @include mobile {
    background-image: url("../assets/images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-size: 100% 35vh;
  }
}
