@use "reset" as *;
@use "vars" as *;
@use "mixins" as *;
@use "themify" as *;

.main-container {
  max-width: 650px;
  padding: 4rem 1rem 1rem 1rem;
  margin: auto;

  .mobile-filter {
    @include themify("background-color", "color-list-bg");
    @include themify("box-shadow", "shadow");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: $border-radius;

    @include tablet {
      display: none;
    }
  }
}
