@use "vars" as *;
@use "themify" as *;

.input-wrapper {
  @include themify("background-color", "color-list-bg");
  @include themify("box-shadow", "shadow");
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: $border-radius;
  margin-bottom: 1.5rem;

  .checkbox {
    background: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px;
    border-color: $check-border;

    &:hover {
      cursor: pointer;
      border-color: $check-background-hover;
    }
  }

  .input {
    @include themify("background-color", "color-list-bg");
    @include themify("color", "color-list-text");
    border: none;
    outline: none;
    margin-left: 10px;
    width: 80%;
    font-family: inherit;
    font-size: inherit;
    caret-color: $bright-blue;

    &::placeholder {
      color: themify("color", "color-input-placeholder");
    }
  }
}
