@use "vars" as *;
@use "mixins" as *;
@use "themify" as *;

.todo-list {
  @include themify("background-color", "color-list-bg");
  @include themify("box-shadow", "shadow");
  color: white;
  margin: 1rem 0;
  border-radius: $border-radius;

  .todo-list-wrapper {
    min-height: 25vh;
  }

  .todo-list-footer {
    @include themify("color", "color-btn");
    @include themify("box-shadow", "shadow");
    padding: 1rem;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .todo-list-filter {
    @include mobile {
      display: none;
    }
  }

  .todo-list-clear {
    @include themify("color", "color-btn");
    font-size: 16px;
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      @include themify("color", "color-btn-hover");
    }
  }
}
