@use "vars" as *;
@use "mixins" as *;

.todo-list {
  background-color: $very-dark-desaturated-blue;
  color: white;
  margin: 1rem 0;
  border-radius: $border-radius;

  .todo-list-wrapper {
    min-height: 25vh;
  }

  .todo-list-footer {
    color: $dark-grayish-blue;
    padding: 1rem;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .todo-list-filter {
    @include mobile {
      display: none;
    }
  }

  .todo-list-clear {
    color: $dark-grayish-blue;
    font-size: 16px;
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
      color: $light-grayish-blue-hover;
    }
  }
}
